.scrapy/httpcache/
padmonster_crawler/spiders/__pycache__/
padmonster/spiders/__pycache__/
padmonster_crawler/__pycache__/
db/AwokenSkill.csv.keep
db/access_database.py
padmonster_crawler/models/__pycache__/
app/rsconnect/
